<div class="containert mt-5  fc">
  <div class="d-flex flex-row flex-wrap justify-content-around">
    <div class=" mt-5">
      <h6>Social</h6>
      <p class="p"><img [src]="fimg" class="fimg" /> facebook</p>
      <p class="p"><img [src]="limg" class="limg" /> linkedin</p>
      <p class="p"><img [src]="gimg" class="gimg" /> google</p>
    </div>
    <div class=" mt-5">
      <h6>Explore</h6>
      <p class="p">service</p>
      <p class="p">Team</p>
      <p class="p">Clients</p>
    </div>
    <div class=" mt-5">
      <h6>Contact</h6>
      <p class="p">Lorem Ipsum dummy</p>
      <p class="p">address used for display</p>
      <p class="p">1234567890</p>
    </div>
    <div class=" mt-5">
      <h6>Email</h6>
      <p class="p1">mendlsoncomuniction@email.com</p>
    </div>
  </div>
</div>
<p class=" d-flex flex-wrap justify-content-center">© Copyright 2018 Mendleson Communication Pty Ltd</p>


