
<div class="container research">
    <div class="row">
      <div class="col-6">
        <img [src]="researchImg" class="researchImg" />
      </div>
      <div class="col-6">
        <h3 class="mt-lg-5 ">CONSULTATION AND RESEARCH</h3>
        <p class="w-75 mt-4  rpara">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus quam
          quis egestas orci. Scelerisque eu, vitae sapien, pellentesque et. Sit ac
          fames facilisis nibh faucibus.
        </p>
      </div>
      <img [src]="imgsrc5" class="img5" />
    </div>
  </div>
  