<div class="container fc ">
    
    <div class="row">
        
      <div class="col-6 text-end ">
        <h3 class="f3 ">Facilitation</h3>
        <p class="w-75 ms-auto fpara">
          We love what we do and are driven by achieving great results for our
          clients. Our awards and impressive client list are testament to our high
          quality approach. We deliver value, creaKvity, results and excepKonal
          levels of customer service and professionalism. We specialise in
          infrastructure
        </p>
      </div>
      <div class="col-6">
        <img [src]="facilityImg" class="facilityImg" />
      </div>
      <img [src]="imgsrc4" class="img4" />
    </div>
  </div>
