<h2 class="text-center mt-5">Our clients</h2>

<div class="container w-75">
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <img [src]="clientI1" class="clientImg" />
    <img [src]="clientI2" class="clientImg" />
    <img [src]="clientI3" class="clientImg mt-5" />
    <img [src]="clientI4" class="clientImg" />
    <img [src]="clientI5" class="clientImg mt-4" />
    <img [src]="clientI6" class="clientImg" />
    <img [src]="clientI7" class="clientImg" />
    <img [src]="clientI8" class="clientImg" />
    <img [src]="clientI9" class="clientImg mt-4" />
  </div>
</div>
