.aboutus{
    margin-top: 100px;
}
h3,p{
    margin-top: 20px;
}
.apara{
    font-size:16px;
   
}
@media  (max-width: 768px) {
    .apara {
       // position: absolute;
       font-size:13px;
    }
  }


@media  (max-width: 1400px) {
    .img {
       // position: absolute;
        width: 550px;
        height: 400px;
    }
  }
  @media  (max-width: 1200px) {
    .img {
       // position: absolute;
        width: 450px;
        height: 350px;
    }
  }
  @media  (max-width: 992px) {
    .img {
       // position: absolute;
        width: 400px;
        height: 300px;
      
       
    }
  }
  @media  (max-width: 768px) {
    .img {
       // position: absolute;
        width: 350px;
        height: 250px;
       margin-left: 130px;
     
        
       
        
    }
  }
  @media  (max-width: 576px) {
    .img {
       
       margin-left: 100px;
     
       
       
        
    }
  }
  @media  (max-width: 320px) {
    .img {
      width: 300px;
       margin-left: 0px;
     
       
       
        
    }
  }
  @media  (max-width: 992px) {
    .aboutus {
       // position: absolute;
    
       margin-top:0px;
       
    }
  }
  @media  (max-width: 1200px) {
    .aboutus {
       // position: absolute;
    
       margin-top:50px;
       
    }
  }
  @media  (max-width: 768px) {
    .aboutus {
       // position: absolute;
    
       margin-top:0px;
       
    }
  }
  
  
