<div class="container aboutus">
  <div class="row">
    <div class="col-lg-6">
      <img [src]="imgsrc" class="img" />
    </div>
    <div class="col-lg-6">
      <div class="row">
        <h2>About Us</h2>
        <p class="apara">
          We love what we do and are driven by achieving great results for our
          clients. Our awards and impressive client list are testament to our
          high quality approach. We deliver value, creaKvity, results and
          excepKonal levels of customer service and professionalism. We
          specialise in infrastructure development, energy and natural
          resources.
        </p>
      </div>
      <div class="row">
        <div class="col">
          <img [src]="imgsrc1" class="img1" />
          <h3>Engagement</h3>
          <p class="apara">
            We are engagement specialists, who have led projects at all levels
            of the IAP2 spectrum. READ MORE
          </p>
        </div>
        <div class="col">
          <img [src]="imgsrc2" class="img2" />
          <h3>Communications</h3>
          <p class="apara">
            We are engagement specialists, who have led projects at all levels
            of the IAP2 spectrum. READ MORE
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
