<img [src]="imgsrc" class="img" />

<img [src]="imgsrc1" class="img1" />

<app-navbar></app-navbar>

<img [src]="imgsrc2" class="img2" />

<app-group1></app-group1>
<app-aboutus></app-aboutus>

<img [src]="imgsrc3" class="img3" />
<app-service></app-service>
<app-communication></app-communication>
<!-- <img [src]="imgsrc4" class="img4" /> -->
<app-facility></app-facility>
<app-research></app-research>
<app-training></app-training>
<img [src]="imgsrc4" class="img4" />
<app-team></app-team>
<img [src]="imgsrc5" class="img5" />
<app-project></app-project>
<img [src]="imgsrc6" class="img6" />
<app-client></app-client>
<app-footer></app-footer>