<div class="container comm">
    <div class="row">
      <div class="col-6">
        <img [src]="commImg" class="commImg" />
      </div>
      <div class="col-6">
        <h3 class="mt-lg-5 ">Comunication</h3>
        <p class="w-75  cpara">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus quam
          quis egestas orci. Scelerisque eu, vitae sapien, pellentesque et. Sit ac
          fames facilisis nibh faucibus.
        </p>
      </div>
      <img [src]="imgsrc4" class="cimg4" />
    </div>
  </div>
  
