<div class="container team">
    <div class="row">
        <h3 class="t3 text-center">OUR TEAM</h3>
        <div class="col-4">
            <img [src]="teamImage1" class="teamimg" />
            <p class=" text-sm-center mt-4">Jessica D’suza</p>
        </div>
        <div class="col-4">
            <img [src]="teamImage2" class="teamimg" />
            <p class=" text-sm-center mt-4">Johny Williams</p>
        </div>
        <div class="col-4">
            <img [src]="teamImage3" class="teamimg" />
            <p class=" text-sm-center mt-4">Sanya R,</p>
        </div>
    </div>
</div>